<template>
    <div class="hand condensed">
        <KarteAktion/>
        <KarteCharakter charakter="Till"/>
        <KarteAufgabe/>
    </div>
</template>

<style>
body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Open Sans Condensed", sans-serif;
}

.hand {
    display: flex;
    gap: 10px;
}

.hand > .karte {
    transition: .3s;
}

.hand.condensed > .karte {
    margin-right: -45mm;
    transform: rotate(-2deg);
}

.hand.condensed > .karte:hover {
    margin-right: 0;
    transform: rotate(2deg);
}

.hand > .karte:hover {
    margin-top: -5mm;
}

/* have fonts /font/OpenSans-CondBold.ttf and /font/OpenSans-CondLight.ttf in public folder */
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/font/OpenSans-CondBold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/font/OpenSans-CondLight.ttf');
    font-weight: normal;
    font-style: normal;
}
</style>