<script setup>
import {defs} from '../composables/karten'

const props = defineProps({
  typ: {
    type: String,
    required: true
  }
})
const def = computed(() => defs[props.typ])
const front = ref(!false)
const flip = () => front.value = !front.value
</script>
<template>
  <div @click="flip" :style="{backgroundColor:def.farbe}"
       :class="front ? 'karte front-visible':' karte back-visible'">
    <div class="front" v-if="front">
      <slot name="front"></slot>
    </div>
    <div class="back" v-else>
      <img src="/img/karte/cube.png" class="cube">
      <div class="typ">{{ typ }}</div>
    </div>
  </div>
</template>
<style>
.karte {
  width: 55mm;
  height: 85mm;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 20px;
  box-sizing: border-box;
  background-image: url('/img/karte/muster.png');
  background-size: 177%;
  background-position: center;
  position: relative;
  cursor: pointer !important;
  user-select: none;
  color: white;
  font-size: 1.2em;
}

.karte.back-visible {
  background-size: 100%;
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.back .cube {
  height: 30mm;
  object-fit: contain;
  margin-top: 24mm;
}

.back .typ {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 18mm;
  width: 100%;
}

.back > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}
</style>