<template>
    <Karte typ="aktion">
        <template #back>
            <img src="/img/karte/deck/aktion.png" alt="Aktion"/>
        </template>
        <template #front>
            <div class="trait">{{ trait }}</div>
            <div class="value">{{ value > 0 ? '+' : '' }}{{ value }}</div>
            <div class="description">{{ description }}</div>
        </template>
    </Karte>
</template>
<script setup>
const props = defineProps({
    trait: {
        type: String,
        default: 'Handwerk'
    },
    value: {
        type: Number,
        default: 2 // can be negative or positive
    },
    description: {
        type: String,
        default: 'Eine Aktion ist eine Karte, die eine Aktion auslöst. Sie wird gespielt und dann auf den Ablagestapel gelegt.'
    }
})
</script>
<style scoped>
.trait {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: #94C020;
}

.value {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background: #94C020;
}

.description {
    font-size: 1em;
    text-align: center;
    background: #94C020;
}
</style>