<template>
    <Karte typ="aufgabe">
        <template #back>
            <img src="/img/karte/deck/aktion.png" alt="Aktion"/>
        </template>
        <template #front>
            <div class="name"><span>{{ aufgabe }}</span></div>
            <div class="traits">
                <div class="trait" v-for="trait in traits">
                    {{ trait.type }}
                    <div></div>
                    {{ trait.value }}
                </div>
            </div>
        </template>
    </Karte>
</template>
<script setup>
const props = defineProps({
    aufgabe: {
        type: String,
        default: 'Akquise Emails verschicken'
    },
    traits: {
        type: Object,
        default: [
            {
                type: 'Planung',
                value: 5
            },
            {
                type: 'Handwerk',
                value: 3
            },
        ]
    }
})

</script>
<style scoped>
.name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}


.name > span {
    background: #038BD1;
    border-radius: 10px;
}

.traits {
    background: #038BD1;
}

.traits .trait {
    display: flex;
    justify-content: space-between;
}
</style>