<template>
    <Karte typ="charakter">
        <template #back>
            <img src="/img/karte/deck/aktion.png" alt="Aktion"/>
        </template>
        <template #front>
            <div class="avatar"><img :src="`/img/avatar/${charakter}.png`" :alt="charakter"/></div>
            <div class="name">{{ charakter }}</div>
            <div class="traits">
                <div class="trait">Planung
                    <div></div>
                    {{ def.traits.Planung }}
                </div>
                <div class="trait">Handwerk
                    <div></div>
                    {{ def.traits.Handwerk }}
                </div>
                <div class="trait">Kreativität
                    <div></div>
                    {{ def.traits.Kreativ }}
                </div>
                <div class="trait">Teamgeist
                    <div></div>
                    {{ def.traits.Teamgeist }}
                </div>
            </div>
        </template>
    </Karte>
</template>
<script setup>
import {defs} from '../../composables/charakter'

const props = defineProps({
    charakter: {
        type: String,
        default: 'Eddy'
    }
})

const def = computed(() => defs[props.charakter])
</script>
<style scoped>
.name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: #E7027F;
}

.avatar img {
    width: 65%;
    margin: auto;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}

.traits {
    background: #E7027F;
}

.traits .trait {
    display: flex;
    justify-content: space-between;
}
</style>